* {
  padding: 0;
  margin: 0;
}

html {
  /* 设置基本字体大小  后
 用em设置文本元素字体大小 如h2 p
  用rem设置模块的字体大小 如一个div 或article等等
  让每个模块变得独立 更容易、灵活的样式便于维护 */
  font-size: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

// 清除浮动
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
// 
a:link {
  text-decoration: none;
}

.dao-list-item:last-child {
  border-bottom: 0;
}
.dao-setting-layout {
  text-align: left;
}

// .dao-select
.dao-select {
  width: 10rem;
  max-width: 18rem; // default width in daoStyle
}

//  修复文字居中对daostyle tab的title 位置影响的问题
.dao-tab {
  .dao-tab__header {
    text-align: left;
  }
}

// 计费概览中 去掉tabs默认的下划线你
.charge-overview {
  .el-tabs__nav-wrap::after {
    height: 0 !important;
  }
}

// 
.el-tabs {
  .el-tabs__item {
    width: 4.5rem;
    min-width: 4.5rem;
    // max-width: 
  }
  .is-active {
    width: 4.5rem;
  }
}

//  overview
.overview-wrap {
  .el-tabs {
    // tab —— header
    .el-tabs__header {
      min-height: 4.25rem;
      background-color: #f5f7fa !important;
      border-bottom: 1px solid #e4e7ed;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      // .el-tabs__nav {
      //   .el-tabs__item {
      //     padding: 0 !important;
      //   }
      // }
    }
  }
}

